body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  background-color: #222831;
  color: antiquewhite;
  text-align: center;
}

footer {
  text-align: right;
  color: rgb(231, 158, 22);
}
span {
  color: rgb(231, 158, 22);
}

.tile-image {
  width: 200px;
  float: left;
  margin-right: 50px;
}
.card {
  width: 45%;
  background-color: #eeeeee;
}
.left {
  float: left;
}
.right {
  float: right;
}

@media (max-width: 680px) {
  .logo {
    width: 100%;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
